<% provide(:title, "自分について") %>


<div class="container-fluid">
<div class="aboutme">
  <h1 class="is-1">レナードについて</h1>
</div>

<div class="row">
  <div class="part1">
  <div class="picture1 col-12 col-lg-6 order-lg-2">
      <%= render 'layouts/lgimage', locals: {folder: 'static', filename: 'GradPhoto.jpg'} %>
  </div>

  <div class="paragraph1 col-12 col-lg-6 order-lg-1">
    <h2>おはじめに</h2>
    <p>ソフト開発者のレナード・モリソンです。このブログはRuby on Railsで作っています。
      このブログは作品集としても使っています。色々なプロジェクトを作ったり、ブログの日記を書いたり、
      コメントしたりすることができます。

      オンタリオ州のロンドンは出生地です。
    </p><br>


    <p>Fun Fact: 出生地は俳優のライアン・ゴスリンと同じです。</p>
  </div>

  </div>

  <div class="part2">
    <div class="picture2 col-12 col-lg-6 order-lg-4">
      <%= render 'layouts/lgimage', locals: {folder: 'static', filename:'Me-in-Seattle.jpg'} %>
    </div>
  <div class="paragraph2 col-12 col-lg-6 order-lg-3">
    <h2>旅行が好きです</h2>
    <p>旅行した事ある所は<br>
      🇺🇸：バッファロー（NY州）クリーブランド（OH州）、ニューヨーク市、ポートランド（OR州）、シアトル（WA州）<br>
    🇨🇦：ロンドン(ON州)、トロント、カルガリー、エドモントン、バンクーバー<br>
  🇬🇧：ロンドン<br>
🇯🇵：東京<br>
 </p>
  </div>
  </div>
</div>

<div class="row">
  <div class="part3">

    <div class="picture3">
      <%= render 'layouts/lgimage', locals: {folder: 'static', filename: 'Code.jpg'} %>
    </div>

    <div class="paragraph3 col-12 col-lg-6 order-lg-5">
      <h2>コードを書くのは面白い！</h2>
      <p>自分で作ったアプリ事がいっぱいあります。デザインからデプロイまで、開発したことがあります。
      Portfolioのページでご覧下さい。</p>
    </div>



  </div>


  <div class="part4">
      <div class="picture4">
        <%= render 'layouts/lgimage', locals: {folder: 'static', filename: 'Mario-Leonard.jpg'} %>
      </div>
      <div class="paragraph4">
        <h2>ゲームが</h2>
        <p>子供の頃から、ゲームを楽しんでいます。
          任天堂オタクですが、どんなゲーム楽しめますよ。
          最近、スマブラSPにハマっています。好きな任天堂キャラはマリオです。マリオの影響で好きな色は赤です。
        </p>

      </div>

  </div>

  </div>

  <div class="row">

  <div class="part5">


    <div class="picture5">
        <%= render 'layouts/mdimage', locals: {folder: 'static', filename: '日本語.png' } %>
    </div>


    <div class="paragraph5">
      <h2>日本語でも英語でも話せます。</h2>
      <p>高校生時代から日本語を勉強しています。
        日本語で話せたいと思ったら、ある高校に登校して、日本語の授業を受けました。うまくいきましたが、「授業だけじゃ足りないなぁ」と思いますので、 .
        辞書を使ったり、日本の昔の曲を聴いたり、<%= link_to "Lang-8", "http://lang-8.com", :target => "_blank" %>で登録したり、
        日本人の友達を作ったりする事をしています。
        高卒した時から独学していますが、英語や日本語に関する依頼のある方はメールでお届けします。
      </p>
    </div>



  </div>


  <div class="part6">

    <div class="picture6">
      <%= render 'layouts/mdimage', locals: {folder: 'static', filename: 'Startup-Edmonton.jpg' } %>
    </div>

    <div class="paragraph6">
      <h2>エドモントンで住んでいます。</h2>

      <p>カナダ人です。アルバータ州のエドモントンで住んでいます。大学のNAITから卒業しました。
        エドモントンでは大きなモールの「ウェスト・エドモントン・モール」があります。
        同じ州では町のバンフがあります。確かに聞いたことありますね。写真のビルはたまにプロジェクトで作っていますよ。
        スタートアップ・エドモントンです。ベンチャーを創造したりソフトウェアやアプリを作ったりところです。
        他のソフト開発者とあったり、人脈を作ったりすることもあります。
        因みにこの写真はスタートアップ・エドモントンのツイッターのプロフィル写真です。

      </p>
      <p></p>
    </div>

    </div>



  </div>



</div>
