<h3 class="title has-text-centered">Leban's Blog!</h1>

<%= paginate @posts %>
<div class="posts-container">

<% @posts.each do |post|  %>
    <div class="post-container">
    <h2 class="post-title"><%= link_to post.title, "/posts/#{post.id}" %></h2>
    <div class="author">
    <h3>Authored by: <%= post.user.username%></h3>
    <b>Posted <%=time_ago_in_words(post.created_at)%> ago</b><br/>
    <% if post.updated_at > post.created_at %>
    <b>Updated <%=time_ago_in_words(post.updated_at)%> ago</b>
    <% end %>

    </div>
    <p><%=raw post.content %></p><br/>
    </div>
<% end %>
</div>
<%= paginate @posts %>

<%if user_signed_in? && current_user.username == "LebanMohamed"%>
<%= link_to new_post_path, title: "Add a new blog post"  do%>
  <i class="fa fa-plus-circle fa-3x newpage"></i>
<% end %>
<% end %>
