<h3 class="title has-text-centered">Leban's Blog!</h1>


<div class="posts-container">

<% @posts.each do |post|  %>
    <div class="post-container">
    <h2 class="post-title"><%= link_to post.title, "/posts/#{post.id}" %></h2>
    <div class="author">
    <h3>Authored by: <%= post.user.username%></h3>
    <b>posted <%=time_ago_in_words(post.created_at)%> ago</b><br/>
    <% if post.updated_at > post.created_at %>
    <b>updated <%=time_ago_in_words(post.updated_at)%> ago</b>
    <% end %>
    
    </div>
    <p><%=raw post.content %></p><br/>
    </div> 
<% end %>
</div>

<%if user_signed_in? && current_user.role == "admin" %>
<div class="newpage">
<%= link_to 'New Page', new_post_path%>
</div>
<% end %>





