
<h1 class="title"><%= @post.title %></h1>
<h2>Authored by: <%= @post.user.username%></h2>
<p>
    <%=raw @post.content %>
</p>

<div class="files" style="width:400px; height:auto;">
   <%= image_tag(@post.upload, style: "width:100%;") if @post.upload.attached? %>
</div>

<div class="comments">
    <h3 class="is-3">Comments</h3>

    <%if  @post.comments.count == 0%>
        <strong>There are no comments on this post. Feel free to send one!</strong><br/>
    <% else %>
        <div class="comments-body">
          <%= render @post.comments, locals: { myclass: 'indiv-comment'} %>

        </div>


    <% end %>
</div>

    <% if user_signed_in? %>
     <%= render partial: "comments/form", locals: {comment: @post.comments.new} %>
    <% else %>
     <b>Yo, if you wanna comment on my page, you need to <%= link_to 'Sign up',  new_user_registration_path %>
       or <%= link_to 'Log in',  new_user_session_path %> first!</b>
    <% end %>







</div>
<br>
<% if user_signed_in? %>
<div class="functions">


  <%= link_to "Update", edit_post_path(@post) if policy(@post).update? do%>
    <i class="fa fa-edit editpage fa-3x"></i>
  <% end %>




  <%= link_to "Delete", @post, :confirm => "Are you sure you want to delete this post?", :method => :delete  if policy(@post).destroy? do%>
    <i class="fa fa-trash deletepage fa-3x"></i>
  <% end %>


</div>
<% end %>


<%= link_to 'Back to the main page', root_path %>
