
<h1 class="title"><%= @post.title %></h1>
<h2>Authored by: <%= @post.user.username%></h2>
<p>
    <%=raw @post.content %>
</p>

<div class="comments">
    <h3>Comments</h3>
    <%if  @post.comments.count == 0%>
        <strong>There are no comments on this post. Feel free to send one!</strong>
    <% else %>
        <% @post.comments.each do | comment |%>
            <strong><%= @comment.user.username =%> says:</strong>
                <%=raw @comment.content =%>
        <% if @comment.user == current_user %>
            <%= link_to edit_comment_path(@post, comment) %>
            <%= link_to "Delete", [@post, comment], method: :delete %>
        <% end %>

    <% end %>
</div>

<%if !user_signed_in? %>
        <strong>Yo, if you wanna comment on my site, either <%= link_to 'Sign up',  new_user_registration_path %> or <%= link_to 'Log in',  new_user_session_path %></strong>
<% end %>

<%if user_signed_in? %>

    <%= render partial: "comments/form", locals: {comment: @post.comments.new} %>




<% end %>
<% end %>
</div>
<br>
<% if user_signed_in? %>
<div class="functions">


  <%= link_to edit_post_path(@post), data: {confirm: "You ready to update this post?"} if policy(@post).update? do%>
    <i class="fa fa-edit editpage fa-3x"></i>
  <% end %>




  <%= link_to post_path(@post), data: {confirm: "Are you sure you want delete this post?"} if policy(@post).destroy? do%>
    <i class="fa fa-trash deletepage fa-3x"></i>
  <% end %>


</div>
<% end %>


<%= link_to 'Back to the main page', root_path %>
