  

<nav class="navbar-menu" aria-label="breadcrumbs">

<ul class="level">

<li class="level-item">
<% if user_signed_in? %>
Welcome, <%= current_user.username %>
<% end %>
</end>

<li class="level-item">
<%= link_to 'Main Blog', '/posts' %>
</li>

<li class="level-item">
<% if !user_signed_in? %>
<%= link_to 'Sign up',  new_user_registration_path %>
<% end %>
</li>

<li class="level-item">
<% if !user_signed_in? %>
<%= link_to 'Sign in',  new_user_session_path %>
<% else %>
<%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
<% end %>
</li>

<li class="level-item">
<% if user_signed_in? %>
<%= link_to 'Update User Info',  edit_user_registration_path(current_user)   %>
<% end %>
</li>
<% if current_user.role == "admin"%>
<li class="level-item">

</li>
<% end %>




</ul> 
</nav>